body, html{
    height : 100%;
    background-repeat : no-repeat;
    background-size : cover;
    overflow: hidden;
}

.middle{
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    background-image: url('https://images.pexels.com/photos/225222/pexels-photo-225222.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.login {
    margin: auto;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: "Arial Black";
}

.inp {
    width: 192px;
    padding: 5px 0px;
    border-radius: 10px;
    display: block;
    margin: auto;
}
.inp:focus {
    background-color: rgb(148, 225, 245);
    outline: none;
}

.but {
    color: white;
    background-color: rgb(228, 48, 48);
    margin: auto;
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-family: "Arial Black";
    border: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.but:focus {
    outline: none;
}
.but:hover {
    background-color: rgb(54, 200, 236);
}
.but:active {
    transform: translateY(2px);
    background-color: rgb(54, 200, 236);
    outline: none;
}

